<%- include('../partials/header') %>
<h1>Songs Page</h1>
<table>
<tbody>
    <% songs.forEach(function(s) { %>
      <tr>
        <td><%= s.songName %></td>
        <td><%= s.artistName %></td>
        <td><%= s.mood %></td>
        <td><%= s.year %></td>
        <td><a href="/songs/<%= s._id %>">DETAILS</a></td>

      </tr>
      <% }); %>
    </tbody>
  </table>
