<%- include('../partials/header') %>

<body>
    <table>
        <tr>
            <td>Song:</td>
            <td><%= song.songName %></td>
        
            <td>Artist: </td>
            <td><%= song.artistName %></td>
        
            <td>Mood:</td>
            <td><%= song.mood %></td>

            <td>Year:</td>
            <td><%= song.year %></td>
            <td>
            <form action="/songs/<%= song._id %>?_method=DELETE" method="POST">
                <button <% if (user._id.equals(song.userCreated) == false) { %> hidden <%} %> type="submit" id="deletebtn">X</button>
            </form>
        </td>
            <td>
                <form action="/songs/<%= song._id %>?_method=PUT" method="POST">
                <label>Change Mood:
                    <select name="mood">
                        <option value="Peaceful">Peaceful</option>
                        <option value="Hype">Hype</option>
                        <option value="Transcendental">Transcendental</option>
                        <option value="Relaxed">Relaxed</option>
                        <option value="Happy">Happy</option>
                    </select>
                    <button type="submit" id="updatebtn">CHANGE</button>

                </label>
                </form>
            </td>

        </tr>
        <tr></tr>
            <td>
                <form action="/songs/<%= song._id %>/?_method=PUT" method="POST">
                    <label>Rate Song:</label>
                        <select name="rating.songRating">
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                        </select>
                        <button type="submit" id="updatebtn2">Update Rating</button>
                    </form>
                        <form action="/songs/<%=song._id%>/rating/" method="POST">
                            <select name="songRating">
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                        </select>
                            <button type="submit">Add Rating</button>
                        </form>
            </td>
        
                <% if (song.rating.length != 0) {%>
                    <td>Song Rating: </td>
                    <td><% song.rating.forEach(function(r){ %>
                        <%= r.songRating %></td>
                    <%})%>
                <%}%>
            
        

        </tr>
        </table>
    
</body>
</html>